*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  /* margin: auto; */
  width: auto;
}

h1 {
  font-size: 3.6rem;
  line-height: 150%;
}

h2 {
  font-size: 2.8rem;
  line-height: 150%;
}

h3 {
  font-size: 2.4rem;
  line-height: 150%;
}

h4 {
  font-size: 2rem;
  line-height: 150%;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
}

small {
  font-size: 1.4rem;
  line-height: 150%;
}

button:focus,
button:hover,
a:focus,
a:hover {
  border: 3px solid black;
  outline: none;
  text-decoration: underline;
}

.logo img {
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
  width: 50px;
}

#linksnav {
  display: none;
}

.maira {
  margin: auto;
  padding-top: 28px;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hamburger {
  margin-right: 30px;
  margin-top: 47px;
}

.text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 30px;
  margin-right: 30px;
}

.text h1 {
  font-weight: bold;
  margin-bottom: 28px;
  margin-top: 28px;
  text-align: left;
}

.bold {
  font-weight: bold;
}

#arrow {
  /*hide this on mobile*/
  margin-top: 28px;
  margin-bottom: 28px;
  text-align: center;
}

.pop h4 {
  color: #00758D;
  margin-bottom: 56px;
  margin-left: 30px;
  margin-top: 96px;
  text-align: left;
}

.mairecipe {
  /* margin-left: 30px;
  margin-right: 30px; */
  width: 100%;
  display: flex;
  align-self: center;
}

.mairecipes {
  display: flex;
  /* align-items: center; */
  background-color: #F9F9F9;
  /* padding-top: 40px; */
  flex-direction: column;
  justify-content: space-between;
}

.mairecipes h3 {
  font-weight: bold;
  /* text-align: center; */
}

.mairecipes p {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 28px;
  text-align: left;
}

.btn {
  background-color: #00758D;
  border: none;
  border-radius: 8px;
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  /* margin-top: 28px; */
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  width: 184px;
}

.busy-bus1,
.busy-bus2 {
  /* margin: auto; */
  width: 40%;
}

.busy-bus1 {
  margin-left: 30px;
}

.busy-bus2 {
  margin-right: 20px;
}

.busy-bus {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: row;
}

.bb {
  align-items: center;
  background-color: #F9F9F9;
  margin-bottom: 28px;
  margin-top: 28px;
  padding-top: 56px;
}

.bb h3 {
  font-weight: bold;
  margin-top: 56px;
  text-align: center;
}

.bb p {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 28px;
  text-align: left;
}

.back-top {
  color: #1A1A1A;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #00758D;
  color: white;
  /* height: 400px; */
  margin-top: 56px;
}

.footer-link {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 28px;
  margin-top: 28px;
  margin-left: 30px;
  margin-right: 30px;
}

.footer h4 {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 28px;
  padding-top: 28px;
}

.rights p {
  font-weight: lighter;
  margin-top: 28px;
  padding-bottom: 28px;
  margin-left: 30px;
  margin-right: 30px;
}

/* PROJECT */
.casestudy {
  margin-left: 30px;
  margin-right: 30px;
  width: 90%;
  margin-top: 24px;
}

.pictext2 {
  display: flex;
  flex-direction: column;
}

.text2 {
  display: flex;
  align-content: space-between;
  /* align-items: flex-start; */
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
  margin-right: 30px;
}

.text2 h3 {
  margin-bottom: 28px;
}

.text2 h1 {
  text-align: left;
  /* margin-right: 30px; */
  margin-top: 28px;
  margin-bottom: 28px;
  font-weight: bold;
}

.rdt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  line-height: 150%;
  background-color: #F9F9F9;
}

.rdt.roles {
  padding-bottom: 96px;
  padding-top: 40px;
}

.rdt.deliverables {
  padding-bottom: 96px;
}

.rdt.tools {
  padding-bottom: 40px;
}

.rdt h2 {
  font-weight: bold;
  padding-bottom: 28px;
}

.sps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 96px;
}

.sps h2 {
  font-weight: bold;
  padding-bottom: 28px;
}

.sps.solution img {
  padding-top: 56px;
}

.user-survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.user-survey h2 {
  font-weight: bold;
}

.user-survey p {
  margin-top: 28px;
  margin-bottom: 56px;
}

.question4 {
  /* margin-left: 30px;
  margin-right: 30px; */
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
}

.question6 {
  /* margin-left: 30px;
  margin-right: 30px; */
  width: 90%;
  margin-top: 28px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
}

.competitive-analysis {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.competitive-analysis h2 {
  font-weight: bold;
  padding-bottom: 28px;
  margin-top: 96px;
}

.competitive-analysis ul {
  list-style-type: square;
  font-size: 1.8rem;
  line-height: 150%;
  padding-top: 28px;
  margin-left: 30px;
  margin-right: 30px;
}

.competitive-analysis li {
  padding-bottom: 20px;
}

.google-drive p {
  padding-top: 20px;
}

#googledrive {
  width: 50%;
  margin: auto;
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-self: center;
}

#dropbox {
  width: 50%;
  margin: auto;
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-self: center;
}

#onedrive {
  width: 50%;
  margin: auto;
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-self: center;
}

.personas {
  display: flex;
  flex-direction: column;
}

.personas h2,
.personas p,
.personas h3,
.personas .info,
.personas .general-personas,
.personas .quotes1,
.personas .quotes2 {
  margin-left: 30px;
  margin-right: 30px;
}

.personas h2 {
  font-weight: bold;
  margin-bottom: 28px;
  margin-top: 96px;
}

.personas .goals h3 {
  font-weight: bold;
  margin-top: 56px;
}

.personas .frustrations h3 {
  font-weight: bold;
  margin-top: 56px;
}

#emily {
  width: 100%;
  margin-top: 56px;
  margin-bottom: 28px;
}

#paula {
  width: 100%;
  margin-top: 96px;
  margin-bottom: 28px;
}

.quotes1 {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  /* padding-top: 56px; */
}

.quotes2 {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.quote {
  position: relative;
  margin-top: 36px;
  /* I used 36px instead of 56px because the li above has 20px of margin-bottom */
}

.quote h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.personas ul {
  list-style-type: square;
  font-size: 1.8rem;
  line-height: 150%;
  padding-top: 20px;
  /* margin-left: 30px;
  margin-right: 30px; */
}

.personas .general-personas li {
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.personas .info {
  list-style-type: none;
}

/*
.normal {
  font-weight: normal;
} */
.user-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9F9F9;
  padding-top: 40px;
  margin-top: 96px;
  padding-bottom: 40px;
  margin-bottom: 96px;
}

.user-stories h2,
.user-stories h4 {
  font-weight: bold;
  margin-bottom: 28px;
}

/* .user-stories h2 {
  margin-top: 96px;
} */
.user-stories h2,
.user-stories h4,
.user-stories p,
.user-stories ul {
  margin-left: 30px;
  margin-right: 30px;
}

.user-stories ul {
  list-style-type: square;
  font-size: 1.8rem;
  line-height: 150%;
  /* padding-top: 20px; */
  text-align: left;
}

.user-stories li {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
}

.user-stories h4 {
  margin-top: 46px;
}

.high {
  border-top: 10px solid #41FA00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 28px;
  margin-top: 56px;
}

.medium {
  border-top: 10px solid #F5FA00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 28px;
}

.low {
  border-top: 10px solid #FA0000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 30px;
  margin-right: 30px;
}

.user-hml h4 {
  text-align: center;
}

.user-hml ul {
  margin-left: 10px;
  margin-right: 10px;
}

.user-flows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.user-flows h2 {
  font-weight: bold;
  margin-bottom: 28px;
}

.userflow {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 56px;
}

.sketches-wireframes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 96px;
  background-color: #F9F9F9;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sketches-wireframes h2,
.sketches-wireframes h4,
.sketches-wireframes .sw {
  margin-left: 30px;
  margin-right: 30px;
}

#slandingpage,
#wlandingpage,
#spricing,
#wpricing,
#ssignup,
#wsignup {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  /* margin-bottom: 28px; */
}

#slandingpage,
#wlandingpage,
#spricing,
#wpricing,
#ssignup,
#wsignup {
  margin-top: 28px;
}

#wlandingpage,
#wpricing {
  margin-bottom: 56px;
}

.sketches-wireframes h2 {
  font-weight: bold;
  margin-bottom: 56px;
}

.sketches-wireframes h4 {
  font-weight: 400;
  /* margin-bottom: 28px; */
}

/* BRANDING */
.branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#branding,
#brainstorm,
#sketch {
  width: 100%;
}

#brainstorm {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 28px;
  margin-top: 36px;
  /*I used 36px instead of 56px because there is already 20px on the margin-bottom p*/
}

#sketch {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 96px;
}

#branding {
  margin-bottom: 28px;
}

.branding h2,
.branding p,
.branding .brain-sketch {
  margin-left: 30px;
  margin-right: 30px;
}

.branding h2 {
  font-weight: bold;
  margin-bottom: 56px;
  margin-top: 96px;
}

.branding p {
  margin-bottom: 20px;
}

/* Name (part of the branding) */
.name {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.name h3 {
  font-weight: bold;
  margin-bottom: 28px;
}

/* Logo (part of the branding) */
.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-section h3,
.logo-section p {
  margin-left: 30px;
  margin-right: 30px;
}

.logo-section h3 {
  font-weight: bold;
  margin-top: 96px;
  margin-bottom: 28px;
}

#logos,
#mailogo {
  width: 80%;
  margin: auto;
  display: flex;
  padding-top: 56px;
  padding-bottom: 56px;
}

.small-background {
  background-color: #F9F9F9;
  margin-top: 56px;
  margin-bottom: 96px;
}

/* Colors (part of the branding) */
.colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colors h3,
.colors p,
.colors h4 {
  margin-left: 30px;
  margin-right: 30px;
}

.colors h3 {
  font-weight: bold;
  margin-bottom: 28px;
}

.colors h4 {
  margin-top: 56px;
  font-weight: 400;
}

#palette1 {
  width: 90%;
  margin: auto;
  padding-top: 28px;
  padding-bottom: 56px;
}

#palette2 {
  width: 60%;
  margin: auto;
  padding-top: 28px;
  padding-bottom: 96px;
}

/* Typography (part of the branding) */
.typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

#avenirnext,
#poppins {
  width: 100%;
  margin: auto;
  margin-top: 56px;
}

.typography h3 {
  font-weight: bold;
  margin-bottom: 28px;
}

/* Icons (part of the branding) */
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.icons h4 {
  font-weight: 400;
  margin-top: 56px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 28px;
  margin-top: 96px;
}

#icons1,
#icons2 {
  width: 100%;
  margin: auto;
  margin-top: 28px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#icons2 {
  margin-bottom: 56px;
}

/* HIGH FIDELITY MOCKUPS */
.hfm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.hfm h2 {
  font-weight: bold;
  margin-top: 96px;
  margin-bottom: 28px;
}

.hfm h4 {
  margin-top: 56px;
  font-weight: 400;
}

.p-space {
  margin-bottom: 20px;
}

#features1,
#features2,
#positionpicture1,
#positionpicture2,
#footer1,
#footer2,
#color40,
#color50,
#forgotpassword,
#autosaves {
  width: 100%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#features1,
#features2,
#positionpicture1,
#positionpicture2,
#footer1,
#footer2,
#color40,
#color50 {
  margin-top: 28px;
}

#features2,
#positionpicture2,
#footer2,
#color50 {
  margin-bottom: 56px;
}

#forgotpassword {
  margin-top: 56px;
  margin-bottom: 28px;
}

/* PROTOTYPES AND TESTS */
.prototypes-tests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.prototypes-tests h2,
.prototypes-tests h3 {
  font-weight: bold;
  margin-top: 96px;
  margin-bottom: 28px;
}

.prototypes-tests h4 {
  margin-top: 56px;
  font-weight: 400;
  margin-bottom: 28px;
}

#pricing1,
#pricing2,
#usability-test {
  width: 100%;
}

#pricing1,
#pricing2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#usability-test {
  margin-top: 56px;
  margin-bottom: 56px;
}

/* CONCLUSION */
.conclusion {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.conclusion h2 {
  font-weight: bold;
  margin-top: 96px;
  margin-bottom: 28px;
}
