*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  width: auto;
}

h1 {
  font-size: 3.6rem;
  line-height: 150%;
}

h2 {
  font-size: 2.8rem;
  line-height: 150%;
}

h3 {
  font-size: 2.4rem;
  line-height: 150%;
}

h4 {
  font-size: 2rem;
  line-height: 150%;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
}

small {
  font-size: 1.4rem;
  line-height: 150%;
}

.logo img {
  height: 50px;
  margin-left: 30px;
  margin-top: 10px;
  width: 50px;
}

header .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menu-toggle {
  color: #1A1A1A;
  margin-right: 1rem;
  margin-top: 27px;
  margin-right: 30px;
}

.main-menu {
  position: fixed;
  display: none;
  /* Teacher used left */
  width: 100%;
  /* right: : -320px; */
  top: 0;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  transition: right .8s ease-in-out;
  /*teacher used left but I want to build on the opposite side */
  /* transition: all .5s linear; */
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding-top: 2.5rem;
  min-height: 100%;
  background-color: #F9F9F9;
}

/* It is important to use display block to have a big area to click, specially on mobile devices. links are inline. */
.main-menu a {
  display: block;
  padding: 2.5rem;
  /* This gives space around the links so we can click them */
  color: #1A1A1A;
  text-decoration: none;
  font-size: 1.8rem;
}

.main-menu li {
  border-bottom: 1px solid #1A1A1A;
  margin-left: 3rem;
  margin-right: 3rem;
}

.main-menu li:first-child a {
  border-top: 1px solid #1A1A1A;
  margin-left: 0;
  margin-top: 5rem;
}

.main-menu a:hover,
.main-menu a:focus {
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: lighter;
  margin-right: 9px;
  margin-top: 6px;
}

.main-menu:target {
  display: block;
  top: 0;
  outline: none;
}

/* This selector says for anything that has class of menu-close, when the main-menu is targeted, close it. */
.main-menu:target .menu-close {
  z-index: 1001;
}

.main-menu:target ul {
  position: relative;
  z-index: 1000;
}

/* We write the css from left to right but we read them from right to left */
/* when backdrop immidiatelly follows the main-menu when it is targeted */
.main-menu:target+.backdrop {
  position: fixed;
  display: block;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(26, 26, 26, 0.55);
  cursor: default;
}

.fa-bars,
.fa-close {
  font-size: 2rem;
}

/* media query  */
/* .menu-toggle,
.main-menu .menu-close {
  display: none;
}

.main-menu {
  position: static;
  display: block;
}

.main-menu ul {
  padding: 0;
  height: auto;
  width: auto;
  background: none;
  overflow: hidden;
  text-align: center;
}

.main-menu li {*/
/* I can use inline-block or flexbox */
/* display: inline-block;

}

.main-menu li:first-child a {
  border-top: none;
}

.main-menu a {
  color: #c85028;
  border-bottom: none;
  display: inline;
}

.main-menu a:hover,
.main-menu a:focus {
  background: none;
  color: #7e64be;
  text-decoration: none;
} */
.btn {
  background-color: #00758D;
  border: none;
  border-radius: 0.8rem;
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  text-align: center;
  text-decoration: none;
  width: 18.4rem;
}

.back-top {
  color: #1A1A1A;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #00758D;
  color: white;
}

.footer-link {
  display: flex;
  align-items: center;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  margin: 2.8rem 3rem;
}

.footer h4 {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2.8rem;
  padding-top: 2.8rem;
}

.rights p {
  font-weight: lighter;
  margin-top: 2.8rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2.8rem;
}

/* HOMEPAGE */
.maira {
  margin: auto;
  width: 100%;
}

.text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 3rem;
  margin-right: 3rem;
}

.text h1 {
  font-weight: bold;
  margin-bottom: 2.8rem;
  margin-top: 2.8rem;
  text-align: left;
}

.bold {
  font-weight: bold;
}

#arrow {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
  text-align: center;
}

.arrow {
  /*hide this on mobile*/
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
  text-align: center;
}

.pop h4 {
  color: #00758D;
  margin-bottom: 5.6rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 9.6rem;
  text-align: left;
}

/* MAI RECIPES */
.mairecipe {
  width: 100%;
}

.mairecipes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}

.background {
  background-color: #F9F9F9;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.pop .background {
  margin-bottom: 2rem;
}

main .background {
  margin-bottom: 2rem;
}

.top-size .back-top {
  margin-top: 7.6rem;
}

.mairecipes h3 {
  font-weight: bold;
  margin-top: 5.6rem;
}

.mairecipes p {
  padding-top: 2.8rem;
  text-align: left;
  margin-bottom: 2.8rem;
}

.mairecipes .btn {
  align-self: center;
}

/* BUSY-BUS */
.busy-bus1,
.busy-bus2 {
  width: 40%;
}

.busy-bus1 {
  margin-left: 3rem;
}

.busy-bus2 {
  margin-right: 2rem;
}

.busy-bus {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bb {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F9F9;
  margin-top: 2.8rem;
}

.bb h3 {
  font-weight: bold;
  margin-top: 5.6rem;
  text-align: center;
}

.bb p {
  margin-left: 3rem;
  margin-bottom: 2.8rem;
  margin-right: 3rem;
  padding-top: 2.8rem;
  text-align: left;
}

.busy-bus .btn {
  align-self: center;
}

/* CONTACT PAGE */
button {
  background-color: #00758D;
  border: none;
  border-radius: 0.8rem;
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 28px;
  padding: 1.6rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 9.6rem;
}

button:hover {
    text-decoration: underline;
}

input {
  display: block;
  width: 80%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 28px;
  padding-left: 1rem;
}

label {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 10px;
  margin-left: 3rem;
  margin-right: 3rem;
}

textarea {
  height: 10rem;
  width: 80%;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  margin-left: 3rem;
  margin-right: 3rem;
}

#name,
#email,
#message {
  border: 1px solid #828282;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.contact-tittle {
  margin-bottom: 2.8rem;
  margin-top: 5.6rem;
}

.contact p {
  margin-bottom: 5.6rem;
}

.contact {
  margin-left: 3rem;
  margin-right: 3rem;
}

/* RESUME PAGE */
.resume {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

.resume h3 {
  color: #D80303;
  font-weight: 500;
}

.resume h3 {
  margin-top: 5.6rem;
  margin-bottom: 2.8rem;
}

.resume ul {
  font-size: 1.8rem;
  line-height: 150%;
  list-style-type: square;
  margin-left: 2rem;
  margin-right: 2rem;
}

.resume .project-name {
  margin-bottom: 2rem;
}

.resume .busy {
    margin-top: 5.6rem;
}

.resume .fala {
    margin-top: 5.6rem;
}

.resume .p-space {
  margin-bottom: 2.8rem;
}

.resume .experience {
  margin-bottom: 1rem;
}

.resume .date {
  margin-bottom: 2.8rem;
}

.resume h4 {
  font-weight: 500;
}

.resume .date {
  font-weight: 200;
}

.experienceEFE,
.experience-mppr {
  margin-top: 5.6rem;
  margin-bottom: 1rem;
}

.edu-dpaul {
  margin-bottom: 1rem;
}

.edu-oab,
.edu-utp {
  margin-top: 5.6rem;
  margin-bottom: 1rem;
}

.margin-btn {
  margin-bottom: 5.6rem;
}

/* ABOUT PAGE */
.about h1 {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: left;
}

.greeting {
  font-weight: bold;
  margin-bottom: 5.6rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2.8rem;
}

.about1,
.about2,
.about3,
.about4,
.about5,
.about6 {
  width: 100%;
}

.about2,
.about3 {
  margin-bottom: 5.6rem;
  margin-top: 5.6rem;
}

.about4 {
  margin-top: 5.6rem;
}

.about5 {
  margin-bottom: 5.6rem;
  margin-top: 5.6rem;
}

.about6 {
  margin-top: 5.6rem;
}

.about-container h1,
.about-container h3,
.about-container p {
  margin-left: 3rem;
  margin-right: 3rem;
}

.who h3 {
  font-weight: bold;
  margin-bottom: 2.8rem;
}

.chapter h3 {
  font-weight: bold;
  margin-bottom: 2.8rem;
}

.who {
  background-color: #F9F9F9;
  padding-top: 4rem;
}

.chapter {
  background-color: #F9F9F9;
  margin-top: 5.6rem;
  padding-top: 4rem;
}

/* PROJECT */
.text2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3rem;
  margin-right: 3rem;
}

.casestudy {
  margin-top: 5.6rem;
  width: 90%;
  margin-left: 3rem;
  margin-right: 3rem;
}


.text2 h3 {
  margin-bottom: 2.8rem;
}

.text2 h1 {
  text-align: left;
  font-weight: bold;
  margin-bottom: 2.8rem;
  margin-top: 2.8rem;
}

/* OVERVIEW */
.rdt {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  font-size: 1.8rem;
  justify-content: center;
  line-height: 150%;
  text-align: center;
}

.rdt.roles {
  padding-bottom: 9.6rem;
  padding-top: 4rem;
}

.rdt.deliverables {
  padding-bottom: 9.6rem;
}

.rdt.tools {
  padding-bottom: 4rem;
}

.rdt h2 {
  font-weight: bold;
  padding-bottom: 2.8rem;
}

/* SUMMARY - PROBLEM - SOLUTION */
.sps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 9.6rem;
}

.sps h2 {
  font-weight: bold;
  padding-bottom: 2.8rem;
}

.sps.solution img {
  padding-top: 5.6rem;
}

/* PROCESS */
/* USER SURVEY */
.user-survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.user-survey h2 {
  font-weight: bold;
}

.user-survey p {
  margin-bottom: 5.6rem;
  margin-top: 2.8rem;
}

.question4 {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.question6 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin-top: 2.8rem;
  width: 100%;
}

/* COMPETITIVE ANALYSIS */
.competitive-analysis {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

.competitive-analysis h2 {
  font-weight: bold;
  margin-top: 9.6rem;
  padding-bottom: 2.8rem;
}

.competitive-analysis ul {
  font-size: 1.8rem;
  line-height: 150%;
  list-style-type: square;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 2.8rem;
}

.competitive-analysis li {
  padding-bottom: 2rem;
}

.google-drive p {
  padding-top: 2rem;
}

#googledrive {
  display: flex;
  align-self: center;
  margin: auto;
  padding-bottom: 5.6rem;
  padding-top: 5.6rem;
  width: 50%;
}

#dropbox {
  display: flex;
  align-self: center;
  margin: auto;
  padding-bottom: 5.6rem;
  padding-top: 5.6rem;
  width: 50%;
}

#onedrive {
  display: flex;
  align-self: center;
  margin: auto;
  padding-bottom: 5.6rem;
  padding-top: 5.6rem;
  width: 50%;
}

/* PERSONAS */
.personas {
  display: flex;
  flex-direction: column;
}

.personas h2,
.personas p,
.personas h3,
.personas .info,
.personas .general-personas,
.personas .quotes1,
.personas .quotes2 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.personas h2 {
  font-weight: bold;
  margin-bottom: 2.8rem;
  margin-top: 9.6rem;
}

.personas .goals h3 {
  font-weight: bold;
  margin-top: 5.6rem;
}

.personas .frustrations h3 {
  font-weight: bold;
  margin-top: 5.6rem;
}

#emily {
  width: 100%;
  margin-bottom: 2.8rem;
  margin-top: 5.6rem;
}

#paula {
  width: 100%;
  margin-bottom: 2.8rem;
  margin-top: 9.6rem;
}

.quotes1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
}

.quotes2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
}

.quote {
  position: relative;
  margin-top: 3.6rem;
  z-index: 1;
  /* I used 3.6rem or 36px instead of 56px because the li above has 20px of margin-bottom */
}

.quote h3 {
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.personas ul {
  font-size: 1.8rem;
  line-height: 150%;
  list-style-type: square;
  padding-top: 2rem;
}

.personas .general-personas li {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2rem;
}

.personas .info {
  list-style-type: none;
}

/* USER STORIES */
.user-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9F9F9;
  margin-bottom: 9.6rem;
  margin-top: 9.6rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.user-stories h2,
.user-stories h4 {
  font-weight: bold;
  margin-bottom: 2.8rem;
}

.user-stories h2,
.user-stories h4,
.user-stories p,
.user-stories ul {
  margin-left: 3rem;
  margin-right: 3rem;
}

.user-stories ul {
  font-size: 1.8rem;
  line-height: 150%;
  list-style-type: square;
  text-align: left;
}

.user-stories li {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2rem;
}

.user-stories h4 {
  margin-top: 4.6rem;
  /* I am using 4.6rem here because I am using 1rem on the border */
}

.high {
  border-top: 1rem solid #67FFAD;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin-bottom: 2.8rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5.6rem;
}

.medium {
  border-top: 1rem solid #FFF067;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin-bottom: 2.8rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.low {
  border-top: 1rem solid #FF6767;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin-left: 3rem;
  margin-right: 3rem;
}

.user-hml h4 {
  text-align: center;
}

.user-hml ul {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* USER FLOWS */
.user-flows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.user-flows h2 {
  font-weight: bold;
  margin-bottom: 2.8rem;
}

.userflow {
  width: 100%;
  margin-bottom: 5.6rem;
  margin-top: 2.8rem;
}

/* SKETCHES & WIREFRAMES */
.sketches-wireframes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9F9F9;
  margin-top: 9.6rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.sketches-wireframes h2,
.sketches-wireframes h4,
.sketches-wireframes .sw {
  margin-left: 3rem;
  margin-right: 3rem;
}

#slandingpage,
#wlandingpage,
#spricing,
#wpricing,
#ssignup,
#wsignup {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  width: 100%;
}

#slandingpage,
#wlandingpage,
#spricing,
#wpricing,
#ssignup,
#wsignup {
  margin-top: 2.8rem;
}

#wlandingpage,
#wpricing {
  margin-bottom: 5.6rem;
}

.sketches-wireframes h2 {
  font-weight: bold;
  margin-bottom: 5.6rem;
}

.sketches-wireframes h4 {
  font-weight: 400;
}

/* BRANDING */
.branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#branding,
#brainstorm,
#sketch {
  width: 100%;
}

#brainstorm {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin-bottom: 2.8rem;
  margin-top: 3.6rem;
  /*I used 3.6rem or 36px instead of 56px because there is already 20px on the margin-bottom p*/
}

#sketch {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin-bottom: 9.6rem;
}

#branding {
  margin-bottom: 2.8rem;
}

.branding h2,
.branding p,
.branding .brain-sketch {
  margin-left: 3rem;
  margin-right: 3rem;
}

.branding h2 {
  font-weight: bold;
  margin-bottom: 5.6rem;
  margin-top: 9.6rem;
}

.branding p {
  margin-bottom: 2rem;
}

/* Name (part of the branding) */
.name {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

.name h3 {
  font-weight: bold;
  margin-bottom: 2.8rem;
}

/* Logo (part of the branding) */
.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-section h3,
.logo-section p {
  margin-left: 3rem;
  margin-right: 3rem;
}

.logo-section h3 {
  font-weight: bold;
  margin-bottom: 2.8rem;
  margin-top: 9.6rem;
}

#logos,
#mailogo {
  width: 80%;
  margin: auto;
  display: flex;
  padding-bottom: 5.6rem;
  padding-top: 5.6rem;
}

.small-background {
  background-color: #F9F9F9;
  margin-bottom: 9.6rem;
  margin-top: 5.6rem;
}

/* Colors (part of the branding) */
.colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colors h3,
.colors p,
.colors h4 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.colors h3 {
  font-weight: bold;
  margin-bottom: 2.8rem;
}

.colors h4 {
  font-weight: 400;
  margin-top: 5.6rem;
}

#palette1 {
  margin: auto;
  padding-bottom: 5.6rem;
  padding-top: 2.8rem;
  width: 90%;
}

#palette2 {
  margin: auto;
  padding-bottom: 96px;
  padding-top: 28px;
  width: 60%;
}

/* Typography (part of the branding) */
.typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

#avenirnext,
#poppins {
  width: 100%;
  margin: auto;
  margin-top: 5.6rem;
}

.typography h3 {
  font-weight: bold;
  margin-bottom: 2.8rem;
}

/* Icons (part of the branding) */
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.icons h4 {
  font-weight: 400;
  margin-top: 5.6rem;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 2.8rem;
  margin-top: 9.6rem;
}

#icons1,
#icons2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin: auto;
  margin-top: 2.8rem;
  width: 100%;
}

#icons2 {
  margin-bottom: 5.6rem;
}

/* HIGH FIDELITY MOCKUPS */
.hfm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.hfm h2 {
  font-weight: bold;
  margin-top: 9.6rem;
  margin-bottom: 2.8rem;
}

.hfm h4 {
  font-weight: 400;
  margin-top: 5.6rem;
}

.p-space {
  margin-bottom: 2rem;
}

#features1,
#features2,
#positionpicture1,
#positionpicture2,
#footer1,
#footer2,
#color40,
#color50,
#forgotpassword,
#autosaves {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin: auto;
  width: 100%;
}

#features1,
#features2,
#positionpicture1,
#positionpicture2,
#footer1,
#footer2,
#color40,
#color50 {
  margin-top: 2.8rem;
}

#features2,
#positionpicture2,
#footer2,
#color50 {
  margin-bottom: 5.6rem;
}

#forgotpassword {
  margin-bottom: 2.8rem;
  margin-top: 5.6rem;
}

/* PROTOTYPES AND TESTS */
.prototypes-tests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.prototypes-tests h2,
.prototypes-tests h3 {
  font-weight: bold;
  margin-top: 9.6rem;
  margin-bottom: 2.8rem;
}

.prototypes-tests h4 {
  font-weight: 400;
  margin-bottom: 2.8rem;
  margin-top: 5.6rem;
}

#pricing1,
#pricing2,
#usability-test {
  width: 100%;
}

#pricing1,
#pricing2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#usability-test {
  margin-bottom: 5.6rem;
  margin-top: 5.6rem;
}

/* CONCLUSION */
.conclusion {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

.conclusion h2 {
  font-weight: bold;
  margin-bottom: 2.8rem;
  margin-top: 9.6rem;
}
