/* ABOUT PAGE (First Picture) - mq1024px */
.about1 {
  padding-left: 6rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* ABOUT PAGE (Second Picture) - mq1024px */
.who1 {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.who-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex: 1; */
  /* padding-right: 5rem;
  padding-left: 5rem; */
}

.about2,
.about3,
.about4,
.about5,
.about6 {
  /* display: flex;
  justify-content: center; */
  /* flex: 1; */
}

.about2 {
  width: 50%;
  /* flex: 1; */
  margin: 0;
  /* padding-right: 8rem; */
  justify-content: center;
}

/* ABOUT PAGE (Third Picture) - mq1024px */
.who2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.who2-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex: 1; */
  padding-right: 5rem;
  padding-left: 5rem;
}

.about3 {
  width: 50%;
  /* flex: 1; */
  padding-left: 8rem;
  justify-content: center;
}

/* ABOUT PAGE (Fourth Picture) - mq1024px */
.who3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.who-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex: 1; */
  padding-right: 5rem;
  padding-left: 5rem;
  margin-bottom: 4rem;
}

.about4 {
  width: 50%;
  /* flex: 1; */
  padding-right: 8rem;
  padding-bottom: 4rem;
}

/* ABOUT PAGE (Fifth Picture) - mq1024px */
.chapter1 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

.chapter-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex: 1; */
  padding-right: 5rem;
  padding-left: 5rem;
}

.about5 {
  width: 50%;
  /* flex: 1; */
  padding-left: 8rem;
}

/* ABOUT PAGE (Sixth Picture) - mq1024px */
.chapter2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  /* justify-content: center; */
}

.about6 {
  width: 50%;
  /* flex: 1; */
  padding-right: 8rem;
  padding-bottom: 4rem;
}

/* This is the whole container for the main part in HOMEPAGE - mq1024px */
.homepage-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* max-width: 1140px; */
  margin: auto;
}

/* HOMEPAGE (First picture) - mq1024px */
.pictext {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  display: flex;
  padding-left: 3rem;
  padding-right: 8rem;
}

.maira {
  width: 40%;
  margin-left: 8rem;
  margin-top: 3rem;
}

/* FEATURED PROJECTS (Mai Recipes) - mq1024px */
.pop {
  margin-left: 5rem;
}

.mairecipe {
  width: 70%;
}

.mairecipes {
  padding-left: 16rem;
  padding-right: 16rem;
  margin-left: 0;
  margin-right: 0;
}

/* FEATURED PROJECTS (Busy-Bus) - mq1024px */
.busy-bus {
  width: 70%;
}

.bb {
  padding-left: 16rem;
  padding-right: 16rem;
  justify-content: center;
}

.bb-text,
.bb p {
  margin-left: 0;
  margin-right: 0;
}

.bb-text h3,
.bb-text .btn {
  margin-left: 0;
}

.mai-text {
  margin-left: 0;
  margin-right: 0;
}

/* CASE STUDY - PROJECT PAGE */
.pictext2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.casestudy {
  width: 30%;
  /* padding-left: 6rem; */
  /* padding-top: 6rem; */
  /* padding-bottom: 6rem; */
}

.margin-bigger {
  margin-left: 0;
  margin-right: 0;
}

.text2 {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.pop h4 {
  margin-left: -12rem;
}

/* Design Roles, Deliverables, and Tools */
.rdt-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: green;
}

.rdt {
  /* padding-left: 10rem;
padding-right: 10rem; */
}

.margin-bigger {
  margin-left: 16rem;
  margin-right: 16rem;
}

.google-drive {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
}

.googledrive-img {
  /* flex: 0.3; */
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 3rem;
  width: 25%;
}

.text-google {
  /* flex: 1; */
  padding-top: 0;
}

.dropbox
}

/* Execute the commmand when bigger than 1440px */
@media (min-width: 1440px) {

/* ABOUT PAGE */
/* HOMEPAGE AND WORK PAGE - mq1440px */
.text {
  padding-left: 6rem;
  padding-right: 10rem;
  flex: 2;
}

.arrow {
  margin-top: 5.6rem;
}

.background {
  padding-top: 2rem;
}

.mairecipes {
  padding-left: 35rem;
  padding-right: 35rem;
  margin-left: 0;
  margin-right: 0;
}

.bb {
  padding-left: 35rem;
  padding-right: 35rem;
  justify-content: center;
}

.footer-link {
  margin-left: 60rem;
  margin-right: 60rem;
}

/* .maira {
margin-left: 0;
margin-left: 3rem;
width: 50%;
margin-top: 3rem;
flex: 1;
} */
